.search-bar {
  display: flex;
}

.input {
  width: 500px;
}

.button {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e99fb;
  font-weight: bold;
}

.button:hover,
.button:active {
  background: #cd484d;
}

.search-icon {
  margin-right: 10px;
}
