.search-menu {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 30px 0;
}

.search-menu__icons {
  display: flex;
  justify-content: space-between;
}

.search-menu__icons > img {
  margin-left: 20px;
}
