.register {
  padding: 50px 0 70px;
  text-align: center;
  min-height: calc(100vh - 583px);
}

.heading {
  font-size: 20px;
  display: inline-block;
  border-bottom: 1px solid orange;
  padding-bottom: 5px;
}
