.register-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-form input {
  margin: 10px 0 20px 0;
  font: inherit;
  border: 1px solid #ccc;
  padding: 10px 16px;
  font: inherit;
}

.register-form input[type='password'] {
  position: relative;
  display: inline-block;
}

/* .register-form input:focus {
  background: #f8f8f8;
  border: 1px solid rgb(115, 151, 115);
  border: 1px solid red;
} */

.input-default {
  border: 1px solid rgb(115, 151, 115);
}

.input-red {
  border: 1px solid red !important;
}

.input-green {
  border: 1px solid rgb(115, 151, 115) !important;
}

.register-form label {
  margin: 10px 0 20px 0;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
}

.checkbox {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
}

.checkbox label {
  margin-left: 10px;
  text-transform: none;
  cursor: pointer;
}

.checkbox a {
  color: #2699fb;
  text-decoration: underline;
  text-transform: capitalize;
}

.button {
  background-color: #2e99fb;
  color: #fff;
  margin-left: 10px;
  font-weight: bold;
  width: 20%;
  margin: auto;
}

.button:hover,
.button:active {
  background: #cd484d;
}

.button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
