.input {
  padding: 10px;
  outline: none;
  border-radius: 3px;
  text-transform: capitalize;
  border: 0.3px solid rgb(230, 217, 217);
}

.input::placeholder {
  color: #000;
  opacity: 0.5;
  font-size: 12px;
}

.input:focus {
  border: 0.3px solid #2e99fb;
}
