.card-container {
  display: flex;
  padding: 40px 0;
  margin: 30px 0;
  animation: moveInBottom 0.5s ease-out;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(248, 245, 245);
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-menu {
  margin-bottom: 30px;
}

.heading {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid orange;
}

.button {
  background: transparent;
  opacity: 0.6;
  border: 1px solid rgb(51, 49, 49);
  transition: 0.3 ease-in;
  font-weight: bold;
  color: rgb(51, 49, 49);
}

.button:hover,
.button:active {
  border: 1px solid #2e99fb;
  color: #2e99fb;
}
