.card-item {
  width: 220px;
  padding: 5px;
  cursor: pointer;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-item__image {
  width: 100%;
  height: 330px;
}

.card-item__content {
  padding: 25px 10px;
  max-height: 50px;
  height: 80px;
}

.card-item__content-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #707070;
  opacity: 0.8;
  margin-bottom: 10px;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.card-item__content-author {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: bold;
  color: #707070;
  margin-bottom: 10px;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.card-item__overlay {
  position: absolute;
  bottom: 0;
  width: 220px;
  height: 120px;
  background: #fff;
  display: none;
}

.card-item:hover .card-item__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: show 0.3s linear;
}

.card-item__overlay-price {
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  color: #707070;
  opacity: 0.8;
  margin: 5px;
}

.card-button {
  border: 1px solid #2e99fb;
  text-transform: capitalize;
  font-size: 14px;
  transition: 0.4s ease-in-out;
  margin-top: 5px;
  background: #fff;
  color: #2e99fb;
  font-weight: bold;
}

.card-button:hover {
  background: #2e99fb;
  color: #fff;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0.2;
  }

  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
