.card-item {
  width: 200px;
  height: 290px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  position: relative;
}

.card-item__image {
  width: 100%;
  margin: 0;
  height: 290px;
}

.card-item__content {
  padding: 10px 0;
}

.card-item__content-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #707070;
  opacity: 0.8;
  margin-bottom: 10px;
}

.card-item__content-author {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: bold;
  color: #707070;
}

.card-item__hidden {
  background: #fff;
  position: absolute;
  bottom: 0;
}
