.details-page {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 483px);
  padding: 20px 0px;
}

.template {
  align-items: flex-start;
  justify-content: flex-start;
}

.left-menu_image {
  min-width: 280px;
  min-height: 500px;
  max-width: 320px;
}

.book-description {
  margin-left: 30px;
}
