.dark {
  color: #fff;
  background: #000;
  background-color: #27292d;
}

.light {
  background: #fff;
  color: #000;
}

.dark h1,
.dark a,
.dark li,
.dark h2,
.dark h3,
.dark p,
.dark span {
  color: #fff;
}

.light li,
.light a,
.light h1,
.light h2,
.light h3,
.light p,
.light span {
  color: #000 !important;
}
